/** -------------------------------- 全局样式定义 -------------------------------- */
$var-font-size-base: 14px !default;
$var-card-border-raduis: 5px !default;
$var-page-header-height: 48px !default;
$var-page-body-padding: 8px !default;
$var-menu-width: 220px !default;
$var-menu-item-height: 48px !default;
$var-color-danger: #f56c6c !default;
$var-color-success: #67c23a !default;
$var-color-text-primary: #909399 !default;
