.menu {
  height: 100%;
  width: $var-menu-width;
  overflow-x: hidden;
  transition: width .3s;
  border-right: 1px solid var(--var-menu-border-color);
  background-color: var(--var-card-background-color);
  .zone {
    height: 58px;
    padding: 0 8px;
    > svg {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      cursor: pointer;
      &:hover {
        color: var(--var-theme-primary-4);
      }
    }
    .name {
      font-size: 18px;
      cursor: pointer;
      margin-left: 8px;
      &:hover {
        color: var(--var-theme-primary-4);
      }
    }
    .collapse {
      margin-left: 12px;
      &:hover {
        color: var(--var-theme-primary-4);
      }
    }
  }
  .guide {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -17px;
    padding-right: 17px;
    margin-bottom: 14px;
    > ul {
      width: $var-menu-width;
      li {
        cursor: pointer;
        .menu {
          padding-left: 12px;
          list-style: none;
          display: flex;
          align-items: center;
          height: $var-menu-item-height;
          line-height: $var-menu-item-height;
          position: relative;
          > svg {
            width: 18px;
            height: 18px;
            margin-right: 12px;
            transition: all .3s;
          }
          .text {
            opacity: 1;
            transition: opacity .3s;
          }
          .arrow {
            position: absolute;
            top: 50%;
            right: 16px;
            width: 12px;
            transform: translateY(-50%);
            transition: transform .3s;
            &::before {
              content: "";
              position: absolute;
              width: 6px;
              height: 1.5px;
              border-radius: 2px;
              background-color: var(--var-default-font-color);
              transform: rotate(-45deg) translateX(2.5px);
              transition: transform .3s;
            }
            &::after {
              content: "";
              position: absolute;
              width: 6px;
              height: 1.5px;
              border-radius: 2px;
              background-color: var(--var-default-font-color);
              transform: rotate(45deg) translateX(-2.5px);
              transition: transform .3s;
            }
            &.is-opened {
              transform: translateY(-2px);
              &::before {
                transform: rotate(45deg) translateX(2.5px);
              }
              &::after {
                transform: rotate(-45deg) translateX(-2.5px);
              }
            }
          }
          &:hover {
            color: var(--var-theme-primary-4);
            background-color: var(--var-module-hover-color);
          }
        }
        ul {
          overflow: hidden;
          opacity: 1;
          transition: max-height .3s, opacity .3s;
          &.is-closed {
            opacity: 0;
            max-height: 0 !important;
          }
          li {
            list-style: none;
            cursor: pointer;
            padding-left: 42px;
            position: relative;
            height: $var-menu-item-height;
            line-height: $var-menu-item-height;
            &:hover {
              color: var(--var-theme-primary-4);
              background-color: var(--var-module-hover-color);
              &::before {
                transform: translate(0, -50%) scale(2);
                background-color: var(--var-theme-primary-4);
              }
            }
            &.is-actived {
              color: var(--var-theme-primary-4);
              background-color: var(--var-module-hover-color);
              &::before {
                transform: translate(0, -50%) scale(2);
                background-color: var(--var-theme-primary-4);
              }
            }
            &::before {
              content: "";
              top: 50%;
              left: 24px;
              position: absolute;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              transform: translate(0, -50%);
              transition: transform .3s ease;
              background-color: rgba(0, 0, 0, 0.7);
            }
          }
        }
        &.is-actived {
          .menu {
            color: var(--var-theme-primary-4);
            background-color: var(--var-module-hover-color);
          }
        }
      }
    }
  }
}
