.a-zone-plugin {
  &.platform {
    flex: 1;
    overflow: auto;
    position: relative;
    .head {
      height: 42px;
      padding: 0 22px;
      background-color: var(--var-card-background-color);
    }
    .content {
      flex: 1;
      overflow: auto;
      padding: 12px;
    }
    .card {
      height: 248px;
      cursor: pointer;
      border-radius: 5px;
      background-color: var(--var-card-background-color);
      box-shadow: rgba(145, 158, 171, 0.2) 0px 4px 10px;
      .name {
        width: 100%;
        height: 48px;
        border-bottom: 1px solid var(--var-menu-border-color);
      }
      .icon {
        flex: 1;
        font-size: 82px;
      }
      .foot {
        width: 100%;
        height: 58px;
        border-top: 1px solid var(--var-menu-border-color);
      }
    }
  }
  &.device {
    flex: 1;
    padding: 8px 8px;
    overflow: auto;
    position: relative;
  }
}
