.a-route {
  &.platform {
    flex: 1;
    .head {
      height: 42px;
      padding: 0 22px;
      background-color: var(--var-card-background-color);
    }
    .content {
      flex: 1;
      padding: 4px;
      overflow: auto;
      position: relative;
      .path {
        display: inline-flex;
        padding: 2px 8px;
        border-radius: 3px;
        color: var(--var-theme-primary-4);
        border: 1px solid var(--var-theme-primary-4);
        background-color: var(--var-theme-primary-1);
      }
      .type {
        color: #fff;
        font-size: 13px;
        padding: 2px 8px;
        display: inline-block;
        border-radius: 3px;
      }
      .priority {
        padding: 2px 8px;
        display: inline-block;
        border-radius: 3px;
        color: var(--var-theme-primary-4);
        border: 1px solid var(--var-theme-primary-4);
        background-color: var(--var-theme-primary-1);
      }
      .status {
        color: #fff;
        display: inline-flex;
        align-items: center;
        font-size: 13px;
        padding: 4px 10px;
        border-radius: 3px;
        &.is-actived {
          background-color: #67c23a;
        }
        &.is-holded {
          background-color: #f56c6c;
        }
        .name {
          margin-left: 6px;
        }
      }
    }
    .infomation {
      margin: 0 108px;
      .field {
        padding: 8px 0;
        .label {
          width: 148px;
          color: $var-color-text-primary;
        }
      }
      .upstream {
        color: #fff;
        padding: 2px 12px;
        border-radius: 3px;
        font-size: 13px;
        > i {
          font-size: 15px;
          margin-right: 4px;
        }
      }
      .echo {
        border-radius: 3px;
        padding: 12px 12px;
        margin: 14px 0 8px 0;
        background-color: #f2f2f2;
      }
      .node {
        > div {
          color: #fff;
          padding: 2px 8px;
          margin-right: 8px;
          border-radius: 3px;
          background-color: var(--var-theme-primary-4);
        }
      }
      .provider {
        .image {
          width: 28px;
          height: 28px;
          line-height: 28px;
          margin: 0 6px 0 0;
          > img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
          }
        }
      }
    }
  }

  &.device {
    flex: 1;
    overflow: hidden;
    .head {
      height: 42px;
      padding: 0 22px;
      background-color: var(--var-card-background-color);
    }
    .content {
      flex: 1;
      padding: 4px;
      overflow: auto;
      position: relative;
      .card {
        margin: 4px 0;
        padding: 10px 8px;
        border-radius: 5px;
        background-color: var(--var-card-background-color);
        > svg {
          width: 54px;
          height: 54px;
          color: var(--var-theme-primary-4);
        }
        .source {
          flex: 1;
          margin-left: 12px;
        }
        .infomation {
          .name {
            flex: 1;
          }
          .status {
            color: #fff;
            display: inline-flex;
            align-items: center;
            font-size: 12px;
            padding: 3px 8px;
            border-radius: 3px;
            &.is-actived {
              background-color: #67c23a;
            }
            &.is-holded {
              background-color: #f56c6c;
            }
            .name {
              margin-left: 6px;
            }
          }
        }
        .host, .path {
          .name {
            font-size: 12px;
            color: $var-color-text-primary;
          }
          .value {
            display: inline-flex;
            padding: 2px 8px;
            font-size: 12px;
            border-radius: 3px;
            margin: 4px 0;
            color: var(--var-theme-primary-4);
            border: 1px solid var(--var-theme-primary-4);
            background-color: var(--var-theme-primary-1);
          }
        }
        .metadata {
          margin-top: 8px;
          .remark {
            color: $var-color-text-primary;
          }
        }
      }
    }
  }
}
