.a-zone-rewrite-request--edit {
  &.platform {
    flex: 1;
    overflow: auto;
    .route {
      > svg {
        width: 18px;
        height: 18px;
        margin-right: 8px;
        color: var(--var-theme-primary-4);
      }
    }
  }
}
