.a-authority {
  height: 100%;
  .content {
    flex: 1;
  }
  &-menu {
    width: 228px;
    height: 100%;
    border-right: 1px solid var(--var-menu-actived-color);
    background-color: var(--var-card-background-color);
    .head {
      display: flex;
      align-items: center;
      margin: 0 20px;
      height: $var-page-header-height;
      color: var(--var-default-font-color);
      border-bottom: 1px solid var(--var-menu-border-color);
      > i {
        font-size: 18px;
        margin-right: 4px;
      }
      > svg {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }
    }
    ul {
      list-style: none;
      li {
        height: 48px;
        line-height: 48px;
        display: flex;
        align-items: center;
        color: var(--var-default-font-color);
        cursor: pointer;
        padding: 0 18px;
        border-right: 2px solid transparent;
        &:hover {
          color: var(--var-theme-primary-4);
          background-color: var(--var-menu-actived-color);
        }
        > i {
          font-size: 16px;
          margin-right: 6px;
        }
        &.is-actived {
          color: var(--var-theme-primary-4);
          border-right: 2px solid var(--var-theme-primary-4);
          background-color: var(--var-menu-actived-color);
        }
      }
    }
  }
  @import './authority/user.scss';
  @import './authority/role.scss';
  @import './authority/permissions.scss';
}
