#app {
  height: 100%;
  display: flex;
  color: var(--var-default-font-color);
  background-color: var(--var-page-background-color);
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .a-page {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}

#nprogress {
  .bar {
    background-color: var(--var-theme-primary-4) !important;
  }
  .peg {
    box-shadow: 0 0 10px var(--var-theme-primary-4), 0 0 5px var(--var-theme-primary-4) !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 140px;
  background-clip: content-box;
}
