.a-drawer {
  height: 100%;
  flex-shrink: 0;
  position: relative;
  transition: width .2s ease-in-out;
  border-right: 1px solid var(--var-page-background-color);
  .wrapper {
    top: 0px;
    right: 0px;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  .icon {
    position: absolute;
    top: 20px;
    right: 8px;
    border-radius: 2px;
    cursor: pointer;
    > i {
      color: #888;
      padding: 4px;
      font-size: 18px;
      &:hover {
        color: var(--var-theme-primary-4);
      }
    }
  }
  .flexible {
    position: absolute;
    top: 0;
    right: -9px;
    margin-left: -5px;
    width: 16px;
    height: 100%;
    cursor: col-resize;
    z-index: 10;
    user-select: none;
    &::after {
      content: "";
      position: absolute;
      user-select: none;
      top: 0;
      left: 5px;
      width: 1px;
      height: 100%;
    }
    &:hover {
      &::after {
        width: 2px;
        background: var(--var-theme-primary-4);
      }
    }
  }
  &.is-mobile {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  &.is-closed {
    width: 0 !important;
  }
  &.is-dragging {
    transition: none;
  }
}
