@use "../common/variable.scss" as *;

.a-rule-mvel {
  position: relative;
  .el-row {
    width: 100%;
  }
  .el-form-item {
    margin-bottom: 16px;
  }
  .field {
    .name {
      height: 24px;
      font-size: 12px;
      color: #909399;
      margin: 0 0 6px 12px;
    }
  }
  .logical {
    .button {
      width: 32%;
    }
  }
  .divider {
    width: 48px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0 0 4px 0;
    position: relative;
    .name {
      font-size: 12px;
      padding: 2px 12px;
      border-radius: 3px;
      z-index: 2;
      background-color: #909399;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: #909399;
      transform: translate(-50%, -50%);
    }
  }
  .expression {
    .expression-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 12px 12px;
    }
    .name {
      margin: 0;
    }
    .preview {
      border-radius: 5px;
      padding: 18px 12px;
      background-color: var(--var-theme-primary-1);
    }
    .preview-edit {
      .preview-edit-actions {
        margin-top: 8px;
      }
    }
  }
  .nodata {
    .a-button {
      width: 100%;
    }
  }
}

.a-rule-action {
  .el-row {
    width: 100%;
  }
  .el-form-item {
    margin-bottom: 14px;
    &__label {
      margin: 0 0 2px 2px;
    }
  }
  .behaviour {
    height: 188px;
    overflow: hidden;
    .duration {
      width: 100%;
      margin: 0 0 8px 0;
      > div {
        margin-right: 12px;
      }
    }
    .description {
      margin: 4px 0 12px 0;
      color: $var-color-text-primary;
    }
  }
}
